/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Product container */
.product-container {
    display: flex;
    justify-content: space-between;
}

/* Product image */
.product-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-main {
    width: 200px;
    height: 200px;
}

.photo-album {
    display: flex;
    list-style: none;
    padding: 0;
}

.photo-album li {
    margin: 5px;
}

.photo-album img {
    width: 50px;
    height: 50px;
}

/* Product details */
.product-details {
    flex: 1;
    padding: 20px;
}

.price {
    font-weight: bold;
    font-size: 18px;
	color:red;
}

.select-color {
    margin-top: 20px;
}

.variant {
    display: flex;
    list-style: none;
    padding: 0;
}

.variant li {
    margin-right: 10px;
}

.benefits {
    margin-top: 20px;
}

.add-to-cart {
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}
